@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

button {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: brown;
  color: beige;
  border: solid 0px white;
  border-radius: 5px;
  padding: 7px;
}

button:hover {
  background-color: beige;
  color: brown;
}

button:active {
  background-color: beige;
  color: brown;
}